{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block body %}
<div class="container mt-4" style="max-width: 400px;">
  <h2 class="mb-3">Login</h2>

  <form method="post">
    {% if form.errors %}
    <div class="alert alert-danger">
      Invalid username or password
    </div>
    {% endif %}
    {% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
      <label class="form-label">{{ field.label }}</label>
      {{ field }}
    </div>
    {% endfor %}


    <button class="btn btn-dark w-100">Login</button>
    <p class="text-center mt-3">
      Don’t have an account?
      <a href="{% url 'user:register' %}">Register</a>
    </p>
  </form>
</div>
{% endblock body %}
